*{margin:0; padding:0; outline: 0;}
ul li{list-style: none;}
dl, ol, ul {
	margin-bottom: 1px;
}
html {
  scroll-behavior: smooth;
}
body
{
	 line-height:18px;
	font-family: Arial;
}

.navbar-toggler {background-color: #fff;}
a{color: #fff;text-decoration: none !important;}
.navbar {padding: 0px;}

p{margin:0;}
.header_top{ background: #05072C; }
.navbar-barand.jobs {
	font-size: 20px;
	background: #359CAB;
	padding: 13px;
}
.jobs,.nav-link:hover{color:#fff !important;}
.All_sos a:hover{color:#fff;}
.All_sos {margin-left: 165px;margin-top: 10px;font-size: 20px;}
.or, .signin, .signup {
	margin-left: -6px;
	background: #359CAB;
	padding: 13px 8px;
}
.or{padding-left: 0px !important;padding-right: 0px !important;}
.header_top .icon_r ul li  {font-size: 1.5rem;padding-right: 18px;}
.header_top .icon_r ul li:last-child{ padding-right: 0px; }
.header_top .icon_r ul li a{color: #fff !important;}
.lang {
	margin-top: 7px;
	background: #fff;
	margin-bottom: 8px;
	padding-top: 2px;
}
.lang a{
	color: #000 !important;
	font-size: 16px;
	padding: 0 !important;
	margin:4px 13px;
	display: inline-block;
}
.header_top .lang li .bang{ color: #000 !important; }
 .lang li .Eng{background: #000 !important; color: #fff !important;}

.fa.fa-google.goggle:hover {color: #FBBC05;}
.fa.fa-facebook.fb:hover {color: #094ff4;}
.fa.fa-youtube-play.playu:hover {color: #FF0000;}
.fa.fa-phone.pcel:hover {color: #5DFF02;}

.bang{font-size: 1.0rem;}
.Eng{font-size: 1.0rem;}

.header_bottom {box-shadow: 1px 11px 7px #4f4f4f;opacity: 1.5;}

.my_img a{color: #000;}
.my_img a:hover{color: #000 !important;}
.dropdown, .dropleft, .dropright, .dropup {
	background: #F1F1F1 !important;
}
.dropdown-menu {min-width: 13rem;}
.dropdown-item {padding: 0.5rem 1.5rem;}
.header_bottom{background: #F1F1F1;}
.dropdown-menu a:hover{color: #000 !important; background: #fff; cursor: pointer;}
.dropdown-toggle {
	border: 0;
	background: #fff;
	padding: 38px 20px 38px 20px;
	font-size: 18px;
	float: right;
}
.post-job {margin-top: 35px;}
.post-job.text-center a {
	color: #f7f6f5;
	background: #f78e08;
	padding: 10px;
	border-radius: 6px;
}

.jobs-match span {
	float: left;
	background: #fcb315;
	padding: 6px 14px;
	border-radius: 10px;
	color: #fff;
	margin-top: -5px;
}
.jobs-match p {
	margin-top: 32px;
	margin-left: 98px;
	color: #716a6a;
	font-size: 16px;
}
.pages {
	margin-top: 27px;
}
.page-link {
	padding: 10px 7px;
	margin-left: -1px;
	color: #1d1d1e;
	border: 0px;
}
.active{color:#FDC244; }
.key {background: #fcb315;height: 65px;}

.filter {
	background: #05072c;
	float: left;
	padding: 23px 40px;
	position: relative;
}
.tri {
	position: absolute;
	border-top: 32px solid #05072c;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	height: 10px !important;
	top: 16px;
	right: -32px;
	transform: rotate(-90deg);
}

.keywords {
float: left;
}
.keywords p {
	margin-top: 22px;
	margin-left: 40px;
	font-size: 20px;
}

.full_pencile {
	background: #fcb315;
	border-radius: 25px;
	margin-left: 115px;
	margin-right: 115px;
}

.click {
	background: #05072c;
	padding-left: 50px;
	padding-right: 50px;
	width: 57%;
	margin-right: 60px;
	margin-bottom: 40px;
	margin-top: 40px !important;
	border-radius: 15px;
}
.btn.btn-block.click:hover {
	background: #fff !important;
	color: #F9AC07 !important;
}
.btn.text-light.click1:hover {
	background: #fff;
	color: #F9AC07 !important;
}

.click1 {
	background: #05072c;
	padding-left: 50px;
	padding-right: 50px;
	width: 57%;
	margin-right: 60px;
	margin-bottom: 40px;
	margin-top: 86px !important;
	border-radius: 15px;
}
.pencile_t {
	border-radius: 31px;
	padding: 5px;
	background-image: linear-gradient(#fffd00, #ff7b00);
}
.pencile_t h4 {
	font-weight: bold;
	color: #252637;
	font-size: 22px;
}
.pencil_left h4, .pencil_right h4 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 60px;
	margin-top: 35px;
}
.pencil_left p, .pencil_right p {
	margin-left: 62px;
	line-height: 23px;
	font-size: 15px;
	color: #443129;
}
/* junid */
.second-part {
	font-family: arial;
	padding: 25px 0;
	margin-top: -150px;
}
.res-nav{
	margin-bottom:20px;
	
}

ul li{list-style: none;}

.part ul li img {
	float: left;
	width: 20px;
	margin-left: 11px;
}
.part ul li a{
	font-size:14px;
	margin-left:15px;
	text-align: justify;
	text-decoration: none;
	color: #fff;
}


.part ul li {
	background: #05072c;
	border-bottom: 2px solid #3c3e59;
	padding: 26px 4px;
}
.mmm{
	margin-top: 20px;
	
}
.text_right{
	margin-left:;
}

.col-xl-8.col-lg-8.col-md-7.text-right p {
	margin-top: 11px;
}
.text-part p{
	font-size: 12px;
}
.text_left p {
	margin-top: 10px;
}
.dropbar {
	width: 80px;
	margin-top: -19px;
	margin-right: 35px;
}

.dropdown{
	border-radius: 10px;
	background: #ebebeb;
}
.dropdown a i {
	color: #FCB315;
	font-size: 16px;
	margin-top: 3px;
}
.dropdown a{
	padding: 4px 8px;
	border-radius: 25%;
	text-decoration: none;
	font-size: 16px;
	color: #000;
}
 .iii .frist-pic img{
	margin-top: -15px ;
	height: 690px;
	width: 150px;
}
.iii .second-pic img{
	margin-top: 5px;
	height: 690px;
	width: 150px;
}
.iii .third-pic img{
	margin-top: 5px ;
	height: 690px;
	width: 150px;
}
.middle-part {
	background: #ebebeb;
	overflow: hidden;
	border-radius: 10px;
	padding-top: 20px;
	margin-top: 20px;
}
.middle-mid {
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
}
.middle-footer{
	float:right;
	margin-top: -18px;
}
.middle-header h2{
	font-size:24px;
	font-weight: bold;
}
.middle-header h4{
	font-size: 18px;
	font-weight: bold;
}
.middle-body{
	margin-top: 10px;
}
.middle-body ul li a{
	text-decoration: none;
	font-size: 12px;

}
.middle-body ul li i {
	color: #989b9f !important;
	margin-left: 27px;
}
.middle-body ul li span {
	color: #989b9f !important;
	margin-left: 20px;
	line-height: 22px;
}

.middle-footer ul li a{
	color:#989b9f;
	text-decoration: none;
	font-size: 12px;
}
.carousel-part {
	margin-top: 14px;
}
.carousel-part a span{
	text-decoration: none!important;
	font-size: 10px;
	color: #000000;
}
.carousel-part span{
	font-size: 10px;
	color: #000000;
}
.carousel-part a i{
	width:15px;
	color: #000000;
	font-weight: bold;
}

.carousel-part a i{
	width:15px;
	color: #000000;
	font-weight: bold;
} 
.drop-title{
	width: 120px;
	margin-top: 8px;
}
.drop-title p {
	margin-top: 15px;
}
.mid-drop {
	float: right;
	display: inline-block;
	margin-right: 40px;
	margin-top: -19px;
}
.pagi{
	float: right;
	margin-top: 4px;
}
.page-link {
	padding: 4px;
	border: 0;
	margin-top: 5px;
}
.page-link .active{
	color: yellow!important;
}


button a{
	text-decoration: none;
}
.res-nav1 .nav1{
	visibility: hidden;
}
.res-nav1 .nav1 button i{

}


.navbar-light .navbar-nav .nav-link a:hover{
	color:#F7AA01;;
}
.main_j{
	margin-top: 60px;
}
.nav2 ul li:hover{
    color: #F7AA01;
}
.xxx{
	visibility: hidden;
	 
}









@media(max-width:991px){
	.text-right{
		text-align: left;
	}
	.text-right p{
		font-size: 14px;
	}
	.text_left p{
		font-size: 12px;
	}
}
@media(max-width:767px){
	.text-right{
		visibility: hidden;
	}
	
}       
		

@media(max-width:991px){
	.text_left p{
		font-size:12px;
	}
}
@media (max-width:575px){
	.middle-footer{
		margin-top:-15px;
	}
	.middle-header h2{
		font-size:16px;
	}
	.middle-header h4{
		font-size:10px;
	}
}
@media(max-width: 1235px){
	.part ul li img {
	margin-left: 10px !important;
}
.part ul li a {
	margin-left: 8px !important;
}
}

@media(max-width:1199px){
	.part ul li span{
		margin-left: 25px;
	}
	.part ul li:nth-child(5) span{
		margin-left: 30px;
	}
	.drop-title{
		display: none;
	}
	.mid-drop{
		margin-top: 12px;
	}
}
@media(max-width:1299px){
	.drop-title p{
		displ
	}
}
@media(max-width:991px){
	.part ul li img{
		height:30px;
		float: none !important;
		display: block;
		margin-left: 28px;
	} 
	.part ul li a {
	margin-left: 20px !important;
}
	
	
}
@media(max-width:991px){
		.res-nav1 .nav1{
			visibility: visible;
			font-size: 11px;
			background: #05072C;
			padding: 5px 0s;
		
			border-right: 1px solid #fff;
		}
		
	.res-nav1 .nav1 ul li a {
	color: white;
	font-size: 15px;

}
.second-part {

	margin-top: -50px;
}

		.part{
			display: none;
		}
		.iii .frist-pic img,.iii .second-pic img,
		.iii .third-pic img {
	margin-top: -87px;
	height: 690px;
	width: 100px;
	margin-left: -12px;
}
.mmm {
	margin-top: -85px;
}
.middle-header h2 {
	font-size: 22px!important;
}
.middle-body ul li span {

	margin-left: 10px!important;
}
.middle-body ul li i {
	margin-left: 8px;
}

}









@media(max-width:825px){
	    .iii{
	    	display: none;
	    }
		.frist-pic img{
			visibility: hidden;
		}
		.second-pic img{
			visibility: hidden;
		}
		.third-pic img{
			visibility: hidden;
		}
		.middle-part{
			width: 100%;
		}
}

@media (max-width:767px){
	.res-nav1 .nav1 ul li a{
		padding:4px;
	}
	.res-nav1 .nav1 ul li{
		border-right:1px solid white;
	}
	.res-nav1 .nav1 ul li:last-child{
		border-right:0px ;

	}
	.dropbar {

	margin-top: -48px;
	
}
}
@media(max-width:575px){
	.mid-drop, 
	.pagi{
		display:none;
	}
}
@media (max-width:535px){
	.res-nav1 .nav1{
		visibility: hidden;
	}
	.xxx{
		visibility: visible;
	}
	.second-part {
	margin-top: -120px;
}
.mmm {
	margin-top: -48px;
}

}






/* junid */

/*  footer  */
/* footer-section start here */
#footer{
	background-color:#05072c;
	color:white;
	width:100%;
	padding-top: 80px;
	padding-bottom: 40px;
height: auto;
}
 .part-1{
	display:block;
	width:23%;
	float:left;
}
 .part-2{
	display:block;
	float:left;
	width:23%;
	margin:0px 0px 0px 0px;
	
}

.new{ 
margin-left:100px;
}
.new h1{
	background:#fcb315;
	width:60px;
	height:20px;
	border-radius:60%;
	color:white;
	font-size:12px;
	text-align:center;
}
.part-3{
	display:inline-block;
	width: 23%;
	margin:auto;
}
.part-4{
	float:right;
	width: 23%;
	margin:auto;
} 
.row h2{
	font-size:24px;
	font-weight:bold;
}
.footer_icon a {
	font-size: 14px;
	text-decoration: none;
	color: white;
	line-height: 23px;
}

.apple img{
	width:70px;
	margin-left:100px;
margin-bottom:3px;	
}
.apple1 img{
	width:70px;
	margin-left:100px;	
}
.footer-last p{
	text-align:center;
	margin:60px 0px 0px 0px;
}

.footer-last p span img{
	width: 30px;
	margin:-7px 3px;
}
@media (max-width:768px){
	#footer .appimg img{
		margin-left:0px;
	}
	.footer-last p{
		margin-top:85px;
	}
}
@media(max-width:360px){
	.footer-last p{
		margin-top:145px;
	}
	.new h1 {
	margin-left: -52px;
}
}
/*  footer  */

@media (max-width:1199px )
 {
.searchform input[type="text"] { width: 41%; }
.counter .count {width: 33%;}
 .counter .count h3 {
	margin-left: 65px;
	margin-top: 12px;
	font-size: 20px;
	font-weight: normal;
   }

 }

/*  medium device (portrait phone)*/  
@media (max-width:1199px) {
	.click {
	width: 72%;
	margin-right: 36px;
	}
.click1 {
	width: 72%;
	margin-right: 36px;
	margin-top: 62px !important;
}
.logo_r {width: 65% !important;margin-top: -1px;}

}    

 @media (max-width:991px )
 {

.text_r h2 {margin-top: 27px;font-size: 26px;}
.logo_r {width: 90% !important;margin-top: 1px;}
.dropdown-toggle {padding: 30px 10px 30px 10px;}
.All_sos {margin-left: 75px;}
.nav-item {padding-right: 15px;}
.pencil_left h4,.pencil_right h4 {margin-left: 30px;font-size: 18px;}
.pencil_left p,.pencil_right p {margin-left: 31px;font-size: 14px;}
.click {
	padding-left: 5px;
	padding-right: 5px;
	width: 77%;
	margin-right: 33px;
}
.click1 {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 65px !important;
	width: 77%;
	margin-right: 33px;
}



}

 /*  small device (portrait phone)       */

 @media (max-width:767px )
 {
.All_sos {margin-left: 157px;margin-top: -32px;}
.nav-item:first-child{ padding-top: 15px; }
.nav-item:last-child {padding-right: 0px;padding-top: 5px !important;}
.nav-item {padding-top: 8px;}
.lang {margin-top: 7px;margin-right: 367px;  }
.dropdown-toggle {display: none;}
.counter {display: none;}
.logo_r {width:100% !important;}
.post-job {margin-top: 20px;float: left;}
.pencil_left h4,.pencil_right h4 {font-size: 18px;margin-left: 20px;}
.pencil_left p,.pencil_right p{margin-left: 30px;}

.click {
 padding-left: 0px; 
 padding-right:0px; 
 width: 75%;
 margin-right: 30px;

  }
.click1 {
    padding-left: 0px; 
    padding-right:0px;
	width: 75%;
	margin-right: 30px;
	margin-top: 19px !important;
   }
   .full_pencile {
 margin-left: 0px; 
 margin-right: 0px; 
}
.click,.click1 {
	padding-left: 0px;
	padding-right: 0px;
	width: 50%;


}

  @media (max-width:575px ){
 .dropdown, .dropleft, .dropright, .dropup {display: none;}
.logo_r {
	width: 30% !important;
}
.post-job {
	margin-top: -32px;
	float: right;
	margin-right: 46px;
}
.post-job.text-center a {padding:7px;font-size: 13px;}
.navbar-barand.jobs {font-size: 16px;padding: 11px;}
.All_sos {margin-left: 97px;margin-top: -30px;}
.or, .signin, .signup {
	margin-left: -6px;
	padding: 12px 8px 11px;
	font-size: 16px;
}
.pages {margin-top: 27px;float: left;margin-left: 90px;}
.click {padding-left:0px; padding-right: 0px; }
.click1 {padding-left:0px; padding-right: 0px; }
.pencil_left h4 {margin-left: 20px;}
.pencil_left p {margin-left: 30px;}
.pencil_right h4 {margin-left: 20px;}
.pencil_right p {margin-left: 30px;}
.full_pencile {
 margin-left: 0px; 
 margin-right: 0px; 
}
.click,.click1 {
	padding-left: 0px;
	padding-right: 0px;
	width: 50%;
}


 }